<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="about-section">
     <section class="section about" id="about">
        <div class="container">

            <div class="section-title-container">
                <h2 class="section-title">About Me</h2>
                <p class="section-subtitle">Get to know more about my background, skills,and what drives me!!</p>
            </div>
            <div class="about-container">
                <div class="about-content">
                    <div class="about-tagline">My Background</div>
                     <h3 class="about-heading">Developer by Curiosity, Dreamer by Vision</h3>
                     <p class="about-text">I’m Harsh Rastogi, a software developer who believes in learning by building. For me, development isn’t just about writing code — it’s about solving real problems with creativity, logic, and persistence.</p>
                     <p class="about-text">I’ve always been driven by curiosity and the desire to turn ideas into working solutions. From exploring backend systems with Java and Spring Boot to experimenting with AWS and system design, I enjoy understanding how things work beneath the surface and building reliable, scalable solutions</p>
                     <p class="about-text">I value clean code, thoughtful planning, and long-term thinking over quick fixes. Whether it’s leading a small project team in college or working solo to complete an internship project, I’ve learned how much teamwork, clarity, and ownership matter in delivering good software.</p>
                    <p class="about-text">Beyond tech, I’m passionate about personal growth — sketching, basketball, and learning new languages keep me creative and grounded. My goal is to keep growing as an engineer, contribute to meaningful projects, and build a career that reflects both technical depth and continuous learning.</p>
                    <!--Skills-->
                    <div class="skills-container">

                        <div class="skill-item">
                            <div class="skill-icon">
                                <i class="fab fa-java"></i>
                            </div>
                            <div class="skill-name">Java</div>
                        </div>

                        <div class="skill-item">
                            <div class="skill-icon">
                                <i class="fas fa-code"></i>
                            </div>
                            <div class="skill-name">Spring Boot</div>
                        </div>

                        <div class="skill-item">
                            <div class="skill-icon">
                                <i class="fa-solid fa-cloud"></i>
                            </div>
                            <div class="skill-name">AWS</div>
                        </div>

                        <div class="skill-item">
                            <div class="skill-icon">
                                <i class="fab fa-react"></i>
                            </div>
                            <div class="skill-name">react</div>
                        </div>

                        <div class="skill-item">
                            <div class="skill-icon">
                                <i class="fas fa-database"></i>
                            </div>
                            <div class="skill-name">SQL</div>
                        </div>

                        <div class="skill-item">
                            <div class="skill-icon">
                                <i class="fa-solid fa-server"></i>
                            </div>
                            <div class="skill-name">MySQL</div>
                        </div>

                        <div class="skill-item">
                            <div class="skill-icon">
                                <i class="fa-solid fa-mobile"></i>
                            </div>
                            <div class="skill-name">Kotlin / Jetpack Compose</div>
                        </div>

                        <div class="skill-item">
                            <div class="skill-icon">
                                <i class="fa-solid fa-code-branch"></i>
                            </div>
                            <div class="skill-name">GIT</div>
                        </div>

                        <div class="skill-item">
                            <div class="skill-icon">
                                <i class="fa-solid fa-vial"></i>
                            </div>
                            <div class="skill-name">Postman</div>
                        </div>
                    </div>
                </div>

                <div class="about-visual">
                    <div class="about-image-container">
                        <div class="about-image-bg"></div>
                        <img src="/images/Mine-SetUp.png" alt="about" class="about-image">
                    </div>
                    <div class="about-decorations">
                        <div class="about-decorations"></div>
                        <div class="about-decorations"></div>
                    </div>
                </div>
                </div>
            </div>

        </div>
     </section>
</th:block>
</html>