<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="hero-section">

    <section class="hero" id="home">
       <div class ="hero-background"></div>

        <div class="container hero-container">
            <div class="hero-content">
                <div class="hero-greeting">Hi there ,I'm </div>
                <h1 class="hero-title"> <span class="gradient-text">Harsh Rastogi</span> </h1>
                <h2 class="hero-subtitle">Building, Breaking & Learning with Code</h2>
                <p class="hero-description">Passionate about building real things through code and driven by the hunger to grow. Learning every day, staying curious, and turning small steps into something bigger.. </p>
                <div class="hero-buttons">
                    <a href="#projects" class="btn btn-primary">
                        View My Work <i class="fas fa-arrow-right"></i>
                    </a>
                    <a href="#contact" class="btn btn-outline">
                        Get in Touch
                    </a>
                </div>
                <div  class="social-links">

                    <a href="tel:+917355050213" class="social-link">
                        <i class="fas fa-phone-alt"></i>
                    </a>

                    <a href="mailto:harshrastogi013@gmail.com" class="social-link">
                        <i class="fas fa-envelope"></i>
                    </a>

                    <a href="https://www.linkedin.com/in/harshrastogi2103" target="_blank" class="social-link">
                        <i class="fab fa-linkedin-in"></i>
                    </a>

                    <a href="https://github.com/Kota-Kun22" target="_blank" class="social-link">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
            </div>

            <div class="hero-visual">
                <div class="hero-visual-inner">
                    <div class=" hero-visual-frame">
                        <img src="/images/profile%20img.jpg" alt="profile image" style="width:90%;height:90%;object-fit:cover;border-radius:15px;">
                    </div>
                    <div class="hero-visual-frame"></div>
                    <div class="hero-visual-frame"></div>
                </div>

                <div class="hero-stats stats-1">
                    <div class="hero-stats-icon">
                        <i class="fas fa-code"></i>
                    </div>

                    <div class="hero-stats-text">
                        <div class="hero-stats-lable">Builder</div>
                        <div class="hero-stats-value">JAVA Backend</div>
                    </div>
                </div>

                <div class="hero-stats stats-1">
                    <div class="hero-stats-icon">
                        <i class=" fas fa-code"></i>
                    </div>
                    <div class="hero-stats-text">
                        <div class="hero-stats-lable">Builder</div>
                        <div class="hero-stats-value">JAVA Backend</div>
                    </div>
                </div>
                <div class="hero-stats stats-2">
                    <div class="hero-stats-icon">
                        <i class="fas fa-rocket "></i>
                    </div>
                    <div class="hero-stats-text">
                        <div class="hero-stats-lable">Always Learning</div>
                        <div class="hero-stats-value">Exploring New Tech</div>
                    </div>
                </div>
                <div class="hero-stats stats-3">
                    <div class="hero-stats-icon">
                        <i class="fas fa-lightbulb"></i>
                    </div>
                    <div class="hero-stats-text">
                        <div class="hero-stats-lable">Problem Solver</div>
                        <div class="hero-stats-value">Creative Thinker</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="scroll-indicator">
            <span>Scroll Down</span>
            <div class="scroll-indicator-line">
                <div class="scroll-indicator-dot"></div>
            </div>

        </div>

    </section>



</th:block>
</html>